<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enliple.ibotsdk" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".activity.IBotSDKChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
